/*global setting*/
html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
	padding: 0;
    padding-top: 20px;
	margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #434343;
    background-color: #fff;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
	text-decoration: none;
    cursor: default;
}

button {
    padding: 3px 6px;
    border: 0;
    background-color: transparent;
    color: rgb(78, 78, 78);
}

button:hover {
    color: rgb(39, 39, 39);
}

ul li {
    padding: 0;
}

table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgba(200, 200, 200, .5);
}

table th,
table td {
    padding: 0 10px;
    border: 1px solid rgba(200, 200, 200, .5);
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}

input:disabled {
    background: #efefef;
}
.invalid {
    display: none;
}
.invalid p {
    margin: 5px 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
    background-color: rgb(200, 200, 200);
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    text-align: center;
}
.panels .invalid.show {
    display: block;
}

.btn-primary {
    padding: 5px 25px;
    border-radius: 3px;
    border: 1px solid rgb(60, 150, 225);
    background-color: transparent;
    font-size: 12px;
    color: rgb(60, 150, 225);
    cursor: default;
    outline: none;
    transition: all .218s ease;
}

.btn-primary:hover {
    background-color: rgb(60, 150, 225);
    color: white;
}
.btn-primary:active {
    background-color: rgb(10, 110, 200);
    color: white;
}
.btn-simulate {
    padding: 10px 40px;
}

/*icon*/
.fa {
	margin: 0 4px;
}

.toolbar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: fixed;
    left: 0;top: 0;
    width: 100%;
    height: 24px;
    z-index: 999;
}
.toolbar button {
    -webkit-app-region: no-drag;
    overflow: hidden;
    float: right;
    width: 40px;
    height: 24px;
    border: 0;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    transition: all .218s ease;
    color: rgb(139 ,139, 139);
    z-index: 1;
}
.toolbar button:hover {
    z-index: 10;
}
.toolbar .close:hover {
    background-color: red;
    color: white;
}
.toolbar .min:hover {
    background-color: rgb(220, 220, 220);
    color: #565656;
}

.layout {
    margin: 24px 0 0 20px;
    height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}


/*nav area*/
.nav-main {
	width: 15%;
}

.nav-main .list-group-item {
	display: block;
	position: relative;
    padding: 6px 15px;
	border-radius: 0;
	border: 0;
    font-size: 12px;
	color: rgb(39, 39, 39);
    transition: all 0.218s ease;
}
.nav-main .list-group-title {
    margin: 15px 0 5px;
    font-size: 14px;
    color: #ccc;
}

.nav-main .list-group-title:first-of-type {
    margin-top: 0;
}

.nav-main .list-group-item:hover {
    color: rgb(80, 150, 225);
}

.nav-main .current {
	background: rgb(80, 150, 225);
    color: white;
}
.nav-main .current:hover {
    color: white;
}

.nav-main .add-algo {
	text-align: center;
}



/*main view*/
.main-content {
    overflow-x: hidden;
	width: 85%;
    height: calc(100% - 24px);
}
.slide {
    overflow: hidden;
    margin-left: 20px;
    height: 100%;
}
.no-result {
    padding: 50px 0;
    text-align: center;
}


/*comparison*/
.comparison-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.comparison {
    padding-bottom: 50px;
}
.comparison .records-param {
    overflow-x: auto;
    width: 100%;
}
.comparison table {
    margin: 0 30px;
}
.comparison caption {
    padding-bottom: 10px;
    font-weight: bold;
}
.comparison .chart {
    margin: 50px;
}




/*algorithm*/
.content-nav {
	text-align: center;
	padding: 0 20px 20px;
}

.content-nav button {
	display: inline-block;
    padding: 6px 20px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    outline: none;
}

.content-nav button:hover {
	color: rgb(80, 150, 225);
}

.content-nav .current {
    color: rgb(80, 150, 225);
}

.chart {
    margin-bottom: 40px;
}

.panels {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 72px);
    padding: 0 20px 50px;
}

.panels > div {
    display: none;
}

.panels .show {
    display: block;
}

.simulate {
    position: relative;
}
.goal-setting {
    margin-bottom: 50px;
}
.goal-setting label {
    display: inline-block;
    margin: 5px 0px 5px 10px;
}
.goal-setting .rq {
    padding-left: 20px;
}
.rq span {
    display: inline-block;
    width: 50%;
}
.rq label {
    display: inline-block;
    margin-right: 10px;
    width: 7em;
    text-align: right;
}
.rq input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid rgba(200, 200, 200, .5);
    width: 120px;
    font-size: 12px;
    color: #666;
    outline: none;
}
.rq input:focus {
    border: 1px solid rgba(80, 150, 225, .5);
}
.param-setting .col-container {
    margin-bottom: 50px;
    -webkit-columns: 20em;
}
.options {
    margin: 5px 0;
    padding-left: 20px;
}
.options label {
    display: inline-block;
    margin-right: 10px;
    width: 7em;
    text-align: right;
}
.options input {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid rgba(200, 200, 200, .5);
    min-width: 180px;
    font-size: 12px;
    color: #666;
    outline: none;
}
.options input:focus {
    border: 1px solid rgba(80, 150, 225, .5);
}
.operations {
    overflow: hidden;
    margin: 20px;
}
.operations button {
    float: right;
}
.calculating-mask {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    background: rgba(255, 255, 255, .75);
    opacity: 0;
    text-align: center;
    pointer-events: none;
    transition: all 1.09s ease;
}
.calculating-show {
    opacity: 1;
    pointer-events: auto;
}
.best-solution {
    margin-bottom: 30px;
}
.bubble-charts {
    display: flex;
    justify-content: space-around;
    flex: 1;
}
.result-list {
    display: flex;
    margin-left: 40px;
}
.result-list h4 {
    margin: 0 0 5px;
}

.result-list input {
    width: 80%;
    border: 0;
    text-align: center;
    outline: none;
}

.result-list th,
.result-list td {
    width: 33%;
}

.result-list .table-container {
    overflow-y: auto;
}
.statistic {
    flex: 1;
    margin-bottom: 20px;
}
.statistic .table-container {
    height: 240px;
}
.readers {
    flex: 1;
    margin-bottom: 20px;
}
.readers .table-container {
    height: 120px;
}

.statistic-charts .chart .highcharts-container {
    margin: 0 auto;
}


/* add algorithm */
.info {
    margin: 30px 0;
}
.info input {
    width: 30%;
    padding: 8px;
    border: 1px solid rgba(200, 200, 200, .3);
    color: #666;
    outline: none;
}
.info input:focus {
    border: 1px solid rgba(80, 150, 225, .5);
}

#holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 30px 0;
    padding: 100px 80px;
    border: 3px dashed rgba(200, 200, 200, .5);
}
#holder.hover {
    border: 3px dashed rgba(80, 150, 225, .5);
}
#holder .tip {
    font-family: Times New Roman, Times, serif;
    text-shadow: rgba(120, 120, 120, .7) 0 -1px 0;
    font-size: 24px;
    font-weight: bold;
    color: #dddddd;
}


/*remove algorith*/
.remove-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}
.remove-list {
    padding: 0 80px;
}
.remove-list li {
    position: relative;
    padding: 20px;
}
.remove-list button {
    position: absolute;
    top: 50%;right: 50px;
    -webkit-transform: translateY(-50%);
}
.remove-list h4 {
    display: inline-block;
}
