/*global setting*/
html {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
	padding: 0;
	margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #434343;
    background-color: #fff;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
	text-decoration: none;
    cursor: default;
}

button {
    padding: 3px 6px;
    border: 0;
    background-color: transparent;
    color: rgb(78, 78, 78);
}

button:hover {
    color: rgb(39, 39, 39);
}

ul li {
    padding: 0;
}

.btn-primary {
    padding: 5px 25px;
    border-radius: 3px;
    border: 1px solid rgb(60, 150, 225);
    background-color: transparent;
    font-size: 12px;
    color: rgb(60, 150, 225);
    cursor: default;
    outline: none;
    transition: all .218s ease;
}
.btn-primary:hover {
    background-color: rgb(60, 150, 225);
    color: white;
}
.btn-primary:active {
    background-color: rgb(10, 110, 200);
    color: white;
}

/*icon*/
.fa {
	margin: 0 4px;
}

.toolbar {
    position: fixed;
    left: 0;top: 0;
    width: 100%;
    height: 24px;
    z-index: 999;
}
.toolbar button {
    overflow: hidden;
    float: right;
    width: 40px;
    height: 24px;
    border: 0;
    outline: none;
    font-weight: bold;
    font-size: 13px;
    transition: all .218s ease;
    color: #666;
    z-index: 1;
}
.toolbar button:hover {
    z-index: 10;
}
.toolbar .close:hover {
    background-color: red;
}
.toolbar .min:hover {
    background-color: rgb(200, 200, 200);
}

.layout {
    margin: 24px 0 0 20px;
    height: 100%;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-webkit-align-items: stretch;
}


/*nav area*/
.nav-main {
	width: 20%;
}

.nav-main .list-group-item {
	display: block;
	position: relative;
    padding: 6px 15px;
	border-radius: 0;
	border: 0;
    font-size: 12px;
	color: rgb(39, 39, 39);
    transition: all 0.218s ease;
}
.nav-main .list-group-title {
    margin: 15px 0 5px;
    font-size: 14px;
    color: #333;
}

.nav-main .list-group-item:hover {
    color: rgb(80, 150, 225);
}

.nav-main .current {
	background: rgb(80, 150, 225);
    color: white;
}
.nav-main .current:hover {
    color: white;
}

.nav-main .add-algo {
	text-align: center;
}

/*main view*/
.main-content {
    overflow: hidden;
	width: 80%;
    height: calc(100% - 24px);
}

.slide {
    height: 100%;
}

/*algorithm*/
.content-nav {
	text-align: center;
	padding: 0 20px 20px;
}

.content-nav button {
	display: inline-block;
    padding: 6px 20px;
    margin: 0;
    margin-left: -1px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    background-color: white;
    outline: none;
}

.content-nav button:hover {
	color: rgb(80, 150, 225);
}

.content-nav .current {
    color: rgb(80, 150, 225);
}

.chart {
    margin-bottom: 40px;
}

.panels {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 72px);
    padding: 0 20px 50px;
}

.panels > div {
    display: none;
}

.panels .show {
    display: block;
}

.simulate {
    position: relative;
}

.col-container {
    -webkit-columns: 20em;
}
.options {
    margin: 5px 0;
    padding-left: 20px;
}
.options label {
    display: inline-block;
    margin-right: 10px;
    width: 7em;
    text-align: right;
}
.options input {
    margin-left: 20px;
    padding: 5px;
    border: 1px solid rgba(60, 150, 225, .3);
    min-width: 180px;
    font-size: 12px;
    color: #666;
    outline: none;
}
.operations {
    overflow: hidden;
    margin: 20px;
}
.operations button {
    float: right;
}
.calculating-mask {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    position: absolute;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .75);
    opacity: 0;
    pointer-events: none;
    transition: all 1.09s ease;
}
.calculating-show {
    opacity: 1;
    pointer-events: auto;
}
.panels .no-result {
    padding: 50px 0;
    text-align: center;
}
.best-solution {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    margin-bottom: 30px;
}
.bubble-charts {
    flex: 1;
}
.result-list {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 280px;
    margin-left: 40px;
}
.result-list h4 {
    margin: 0 0 5px;
}
.result-list table {
    width: 90%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgba(200, 200, 200, .5);
}
.result-list table th,
.result-list table td {
    padding: 0 10px;
    width: 33%;
    border: 1px solid rgba(200, 200, 200, .5);
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}
.result-list input {
    width: 80%;
    border: 0;
    text-align: center;
    outline: none;
}
.result-list .table-container {
    height: calc(100% - 25px);
    overflow-y: auto;
}
.statistic {
    margin-bottom: 20px;
}
.readers {
    margin-bottom: 20px;
}
.update-statistic {
    width: 200px;
    margin: 0 auto;
}


/* add algorithm */
.info {
    margin: 30px 0;
}
.info input {
    width: 30%;
    padding: 8px;
    border: 1px solid rgba(60, 150, 225, .3);
    color: #666;
    outline: none;
}

#holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px 30px 0;
    padding: 100px 80px;
    border: 3px dashed rgba(60, 150, 225, .3);
}

#holder .tip {
    font-family: Times New Roman, Times, serif;
    text-shadow: rgba(120, 120, 120, .7) 0 -1px 0;
    font-size: 24px;
    font-weight: bold;
    color: #dddddd;
}
