
<div class="row content-nav">
    <div>
        <button ng-class="tabs.simulate" ng-click="switchTab('simulate')">算法模拟</button>
        <button ng-class="tabs.result" ng-click="switchTab('result')">统计结果</button>
    </div>
</div>
<div class="animate-switch-container panels">
    <div class="simulate animate-switch" ng-class="panels.simulate">
        <div class="goal-setting">
            <h3>优化目标</h3>
            <div class="col-container">
                <div class="normal">

                    <!--wc-->
                    <label for="wc">
                        <input type="checkbox" id="wc"
                               ng-checked="wcCheck" ng-model="wcCheck" ng-init="wcCheck = true">
                        覆盖率优先
                    </label>
                    <div class="rq">
                        <span>
                            <rfid-weight weight-disabled="!wcCheck"
                                         weight-id="{{ requirements.weight.wc.name }}"
                                         weight-name="{{ requirements.weight.wc.desc }}"
                                         weight-value="requirements.weight.wc.value">
                            </rfid-weight>
                        </span>
                    </div>
                    <!--wb-->
                    <label for="wb">
                        <input type="checkbox" id="wb"
                               ng-checked="wbCheck" ng-model="wbCheck" ng-init="wbCheck = true">
                        负载均衡优先
                    </label>
                    <div class="rq">
                        <span>
                            <rfid-weight weight-disabled="!wbCheck"
                                         weight-id="{{ requirements.weight.wb.name }}"
                                         weight-name="{{ requirements.weight.wb.desc }}"
                                         weight-value="requirements.weight.wb.value">
                            </rfid-weight>
                        </span>
                    </div>
                    <!--wi-->
                    <label for="wi">
                        <input type="checkbox" id="wi"
                               ng-checked="wiCheck" ng-model="wiCheck" ng-init="wiCheck = true">
                        干扰率优先
                    </label>
                    <div class="rq">
                        <span>
                            <rfid-weight weight-disabled="!wiCheck"
                                         weight-id="{{ requirements.weight.wi.name }}"
                                         weight-name="{{ requirements.weight.wi.desc }}"
                                         weight-value="requirements.weight.wi.value">
                            </rfid-weight>
                        </span>
                    </div>

                    <!--total weight !== 1-->
                    <div class="invalid" ng-class="{show: !weightCheck}">
                        <p>权重之和应该等于 1</p>
                    </div>
                </div>
                <div class="min-reader">
                    <label for="{{ modes.minReader.name }}">
                        <input type="checkbox" id="{{ modes.minReader.name }}"
                               ng-checked="{{ requirements.minReader.default }}"
                               ng-model="runMode" ng-true-value="minReader" ng-false-value="normal">
                        {{ modes.minReader.desc }}
                    </label>
                    <div class="rq">
                        <span ng-repeat="rq in requirements.minReader">
                            <label for="{{ rq.name }}">{{ rq.desc }}</label>
                            <input type="text" ng-disabled="runMode==='normal'" id="{{ rq.name }}" ng-model="rq.value" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="param-setting">
            <h3>模拟参数</h3>
            <div class="col-container">
                <div class="options" ng-repeat="option in options | simulationParam">
                    <label for="{{option.name}}">{{option.desc}}</label>
                    <input ng-disabled="option.disabled" type="text" id="{{option.name}}" ng-model="option.value" />
                </div>
            </div>
        </div>
        <div class="param-setting">
            <h3>算法参数</h3>
            <div class="col-container">
                <div class="options" ng-repeat="option in options| algorithmParam">
                    <label for="{{option.name}}">{{option.desc}}</label>
                    <input ng-disabled="option.disabled" type="text" id="{{option.name}}" ng-model="option.value" />
                </div>
            </div>
        </div>
        <div class="operations">
            <button class="btn-primary" ng-click="simulate()">模拟</button>
        </div>
        <div class="calculating-mask" ng-class="calculating">
            <div>
                <div>
                    <img src="images/loader.gif" alt="loading"/>
                </div>
                计算中...
            </div>
        </div>
    </div>

    <div class="statistic animate-switch" ng-class="panels.result">
        <div class="no-result" ng-show="cleanHistory">暂无数据</div>
        <div class="history-selector" ng-hide="cleanHistory">
            历史记录：<select ng-model="currentRecord" ng-options="record.runData.date | date: 'yy/M/d H:m:s' + ' (最高适应度:' + record.runData.readerStatistic.fitness.toFixed(3) + ')' for record in history"></select>
        </div>
        <div class="result" ng-hide="cleanHistory">
            <div class="best-solution">
                <div class="bubble-charts">
                    <div id="bubble-chart-origin" class="chart"></div>
                    <div id="bubble-chart-result" class="chart"></div>
                </div>

                <div class="result-list">
                    <div class="statistic">
                        <h4>模拟结果统计</h4>
                        <div class="table-container">
                            <table>
                                <tr><th>指标</th><th>数值</th></tr>
                                <tr><td>模拟日期</td><td>{{ result.runData.date | date : 'yy/M/d H:m:s' }}</td></tr>
                                <tr><td>运行次数</td><td>{{ result.runData.options.rpt.value }}</td></tr>
                                <tr><td>优化目标</td><td>{{ result.runData.mode.desc }}</td></tr>
                                <tr><td>平均读写器个数</td><td>{{ result.runData.avgRn | number }}</td></tr>
                                <tr><td>平均运行时间（ms）</td><td>{{ result.runData.avgTime | number }}</td></tr>
                                <tr><td>平均适应度</td><td>{{ result.runData.avgFitness | number }}</td></tr>
                                <tr><td>得到最优解迭代次数</td><td>{{ (result.runData.avgIte + 1).toFixed(0) }}</td></tr>
                                <tr><td>均方差</td><td>{{ result.runData.mse.toExponential(3) }}</td></tr>
                                <tr><td>最高适应度</td><td>{{ result.runData.readerStatistic.fitness | number }}</td></tr>
                            </table>
                        </div>
                    </div>
                    <div class="readers">
                        <h4>最优解</h4>
                        <div class="table-container">
                            <table>
                                <tr><th>指标</th><th>数值</th><th>权重</th></tr>
                                <tr ng-repeat="r in cfgReaders.statistic.results">
                                    <td>{{ r.desc }}</td>
                                    <td>{{ r.value | number }}</td>
                                    <td>{{ r.weight }}</td>
                                </tr>
                                <tr><td>适应度</td><td>{{ cfgReaders.statistic.fitness | number }}</td><td></td></tr>
                            </table>
                        </div>
                        <h4>读写器坐标</h4>
                        <div class="table-container">
                            <table>
                                <tr><th>No.</th><th>x</th><th>y</th></tr>
                                <tr ng-repeat="r in cfgReaders">
                                    <td>{{ $index+1 }}</td>
                                    <td><input type="text" value="{{ r.x | number }}" ng-model="r.x" /></td>
                                    <td><input type="text" value="{{ r.y | number }}" ng-model="r.y" /></td>
                                </tr>
                            </table>
                        </div>
                        <div class="operations">
                            <button class="btn-primary update-statistic" ng-click="updateStatistic()">更新</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="statistic-charts">
                <!--highest fitness-->
                <div id="highest" class="chart"></div>
            </div>
        </div>


    </div>
</div>
