
<div class="row content-nav">
  <div>
    <button ng-class="tabs.simulate" ng-click="switchTab('simulate')">算法模拟</button>
    <button ng-class="tabs.result" ng-click="switchTab('result')">统计结果</button>
  </div>
</div>
<div class="animate-switch-container panels">
    <div class="simulate animate-switch" ng-class="panels.simulate">
        <div class="best-solution"  ng-show="resultReturned">
            <div id="bubble-chart" class="chart"></div>
            <div class="result-list">
                <div class="statistic">
                    <h4>目标函数</h4>
                    <div class="table-container">
                        <table>
                            <tr><th>目标</th><th>数值</th><th>权重</th></tr>
                            <tr ng-repeat="r in cfgReaders.statistic.results">
                                <td>{{ r.desc }}</td>
                                <td>{{ r.value | number }}</td>
                                <td>{{ r.weight }}</td>
                            </tr>
                            <tr><td>适应度</td><td>{{ cfgReaders.statistic.fitness | number }}</td><td></td></tr>
                        </table>
                    </div>
                </div>
                <div class="readers">
                    <h4>读写器坐标</h4>
                    <div class="table-container">
                        <table>
                            <tr><th>序号</th><th>x</th><th>y</th></tr>
                            <tr ng-repeat="r in cfgReaders">
                                <td>{{ $index+1 }}</td>
                                <td><input type="text" value="{{ r.x | number }}" ng-model="r.x" /></td>
                                <td><input type="text" value="{{ r.y | number }}" ng-model="r.y" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <button class="btn-primary update-statistic" ng-click="updateStatistic()">更新</button>
            </div>
        </div>
        <div class="param-setting">
            <h3>模拟参数</h3>
            <div class="options" ng-repeat="option in options">
                <label for="{{option.name}}">{{option.desc}}</label><input type="text" id="{{option.name}}" ng-model="option.value" />
            </div>
            <div class="operations">
                <button class="btn-primary" ng-click="simulate()">模拟</button>
            </div>
        </div>
        <div class="calculating-mask" ng-class="calculating">
            <p>计算中...</p>
        </div>
    </div>

    <div class="statistic animate-switch" ng-class="panels.result">
        <div class="no-result" ng-show="!resultReturned">暂无数据</div>
        <!--avg fitness-->
        <div id="fitness" class="chart" ng-show="resultReturned"></div>
        <!--highest fitness-->
        <div id="highest" chart="chart" ng-show="resultReturned"></div>
    </div>
</div>
